langchain
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
langchain-chroma
chromadb
langchain-mcp-adapters
mcp[cli]
fastmcp
streamlit
httpx
python-dotenv
pypdf
langchain-ollama
torch
torchvision
langchain-openai